body {
  color: #ccc;
  background: #080808;
  font-family: "Century Gothic";
}

button {
  border: none;
  height: 24px;
  font-size: 14px;
  color: #eee;
  background-color: #88f;
  border-radius: 8px;
  margin: 0 8px;
  padding: 0 16px;
}
